<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>MogileFS Operation Handbook</title>
    <link rel="stylesheet" href="reset.css" type="text/css" media="all" />
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />

  </head>
  <body>
    <div id="doc-head">
      <a id="doc-logo" href="/">MogileFS Operation Handbook »</a>
    </div> <!-- #doc-head -->

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="md">
            <article><%= yield %></article>
          </div> <!-- .md -->
        </div> <!-- .bodywrapper -->
      </div> <!-- .documentwrapper -->
      <div class="sidebar">
        <div class="sidebarwrapper">
          <h3>Project Name</h3>
          <ul id="cataloy">chapter1?</ul>
        </div>
      </div> <!-- .sidebar-->
    </div> <!-- .document -->

  </body>
</html>

