<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>MogileFS Operation Handbook</title>
    <link rel="stylesheet" href="/reset.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />

  </head>
  <body>
    <div id="doc-head">
      <a id="doc-logo" href="/">MogileFS Handbook »</a>
    </div> <!-- #doc-head -->

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="md">
            <article><%= yield %></article>
          </div> <!-- .md -->
        </div> <!-- .bodywrapper -->
      </div> <!-- .documentwrapper -->
      <div class="sidebar">
        <div class="sidebarwrapper">
          <ul id="catalog">
            <li class="subcatalog">
              <h3>介绍</h3>
              <ul class="doc-item">
                <li><a href="/">关于MogileFS</a></li>
              </ul>
            </li>
            <li class="subcatalog">
              <h3>安装</h3>
              <ul class="doc-item">
                <li><a href="#">MogileFS Tracker</a></li>
                <li><a href="#">MogileFS Datbase</a></li>
                <li><a href="#">MogileFS Storage</a></li>
              </ul>
            </li>
            <li class="subcatalog">
              <h3>使用</h3>
              <ul class="doc-item">
                <li><a href="#">上传</a></li>
                <li><a href="#">下载</a></li>
              </ul>
            </li>
            <li class="subcatalog">
              <h3>运维</h3>
              <ul class="doc-item">
                <li><a href="#">磁盘损坏</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> <!-- .sidebar-->
    </div> <!-- .document -->
    <div class="footer">Documetation Released under Creative Common 3.0 CC-BY-SA. 2012. <br /> last updated: <%= Date.today %></div>
  </body>
</html>

